div{border: 1px solid white;
   background-color: aqua; 
    text-align: center; 
   margin-top: 70px;
    margin:0px auto;
width: 200px; 
  height: 400px;  
    
}

iv#continer

















